.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #161b22;
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);

  max-width: 1500px;
  margin: 50px auto;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 38px;
  font-weight: 700;
  color: #58a6ff;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #e6edf3;
  margin: 6px 0;
}

.hero img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.hero button {
  margin-top: 30px;
  padding: 13px 25px;
  border-radius: 8px;
  background-color: #0d6efd;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero button:hover {
  cursor: pointer;
  background-color: #0b5ed7;
}

.skills {
  margin-top: 80px;
}

.skills h2 {
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
  color: #e6edf3;
}

.skills-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
