.Footer {
  width: 100%;
  height: 100%;
  background-color: #161b22;
  padding: 20px 0;

  margin-top: 60px;
  text-align: center;

  border-top: 3px solid #0d6efd15;
}

.Footer p {
  color: #e6edf3;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
