.skills-card {
  background-color: #161b22;
  padding: 20px;
  width: 800px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: center;
}

.skills-card:hover {
  transform: translateY(-6px);
}

.skillimage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 10px auto 15px;
  display: block;
}

.skills-card h3 {
  font-size: 30px;
  color: #58a6ff;
  margin-bottom: 8px;
}

.skills-card p {
  font-size: 24px;
  line-height: 1.5;
  color: #9da5b4;
}
