body {
  background-color: #0d1117;
  color: #e4e6eb; /* light text */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
